.Sh {
    /* height: em; */
    /* padding: 0.5em; */
    will-change: filter;
    transition: filter 600ms;
    
  }
  .Sh:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .Sh.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }